<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hime.Redist" version="3.4.0" targetFramework="net472" />
  <package id="Karambolo.Common" version="3.1.2" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
</packages>